body {
    margin: 0;
    padding: 0;
  }
  .wrapper {
    height: 60px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cecaca;
    flex-wrap: wrap;
  }
  
  .main-header {
    width: 1000px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .main-header,
  .main-header2 {
    display: flex;
  }
  
  .main-header1 {
    display: flex;
    height: 33px;
    width: 188px;
    align-items: center;
  }
  
  .main-header2 {
    width: 664px;
    justify-content: space-between;
  }
  
  .info1, .info2, .info3 {
    width: 189px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info1{
    padding-left: 20px;
  }
  .header{
    width: 100%;
    height: 62px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar{
    height: 43px;
    padding-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    overflow: hidden;
    background-color: #333;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .navbar a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .navbar a:hover{
    background-color: #ddd;
    color: black;
  }
  /*Add color to active link*/
  .navbar a.active{
    background-color: #04AA6D;
    color: white;
  }
.main {
    width: 100vw; 
    height: 100vh; 
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main img {
    width: 100%; /* Make the image width 100% of its container (viewport) */
    height: auto; /* Maintain the aspect ratio */
    z-index: -100;
    position: absolute;
  }
  
 .main p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    z-index: 1; /* Place the text above the image */
  }
  