* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: sans-serif;
}
#main{
  width: 100%;
}
.wrapper {
  height: 60px;
  padding-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cecaca;
  flex-wrap: wrap;
}

.main-header {
  width: 1000px;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header,
.main-header2 {
  display: flex;
}

.main-header1 {
  display: flex;
  height: 33px;
  width: 188px;
  align-items: center;
}

.main-header2 {
  width: 664px;
  justify-content: space-between;
}

.info1, .info2, .info3 {
  width: 189px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info1{
  padding-left: 20px;
}
.header{
  width: 100%;
  height: 62px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar{
  height: 43px;
  padding-bottom: 3px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  overflow: hidden;
  background-color: #333;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.navbar a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover{
  background-color: #ddd;
  color: black;
}
/*Add color to active link*/
.navbar a.active{
  background-color: #04AA6D;
  color: white;
}

/* swiper */
.swiper {
  width: 100%;
  height: 300px;
  background: #04AA6D;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.middle{
  width: auto;
  height: 600px;
  background-color: #cecaca;
  flex-wrap: wrap;
}
@font-face {
  font-family: GistLight;
  src: url(/static/GistLight.otf);
}
.middle h3{
  font-family: GistLight;
  text-align: center;
  font-size: 30px;
  color: #06b21a;
  line-height: 60px;
}
.middle h2{
  text-align: center;
  font-size: 40px;
  color: #06b21a;
  line-height: 50px;
}
.middle p{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.big-box{
  width: auto;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  overflow: hidden;
}
.box{
  width: 300px;
  height: 500px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box img{
  width: 230px;
  height: 200px;
  border: 5px solid #74c307;
  border-radius: 80px 50px 60px 50px;
  overflow: hidden;
}
.box h3{
  font-family: GistLight;
  text-align: center;
  font-size: 20px;
  color: #06b21a;
}
.box p{
  font-size: small;
}

.middle2{
width: auto;
height: 400px;
background-color: #06b21a;
display: flex;
justify-content: space-between;
}
.assistance{
  height:400px ;
 display: flex;
 justify-content: center;
 align-items: center;
}
.assistance p{
  font-size: 40px;
  text-align: center;
  padding-left: 20px;
}
.middle2 img{
  height: 400px;
  width: 600px;
}

.blog{
height: 550px;
width: auto;
border: 8px solid green;
border-radius: 40px;
border-left: none;
border-right: none;
}
.blog h4{
font-size: 20px;
text-align: center;
font-family: GistLight;
}
.container{
width:auto;
height: 400px;
overflow: hidden;
display: flex;
justify-content:space-evenly;
align-items: center;
cursor: pointer;
}
.card{
  height: 400px;
  width: 300px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.card h4{
  color: #06b21a;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card button{
  font-size: 20px;
  border-color: #06b21a;
  height: 30px;
  width: 200px;
  cursor: pointer;
}
.card button:hover{
  border: none;
  color: white;
  background-color: black;
  transition-duration: 0.3ms;
  cursor: pointer;
}

.donation-box{
 padding-top: 20px;
  height: 420px;
  width: auto;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}
.donation{
  height: 100%;
  width: 50%;
  overflow: hidden;
  text-align: center;
}
.donation h4{
  font-size: 20px;
  text-align: center;
}
.donation h3{
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.donation form{
  line-height: 10px;
}
.donation form input{
  height: 30px;
  margin: 5px;
}
.donation form textarea{
  margin-left: 60px;
  width: 360px;
}
.donation form button{
  height: 20px;
  font-size: 15px;
}
.donation form button:hover{
  color: #fff;
  background-color: black;
  transition-delay: 0.3ms;
}
.leaf{
  height: 100%;
  width: 400px;
  text-align: center;
  padding-left: 30px;
}
.leaf img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.middle3{
  width: 100%;
  height: 400px;
  overflow: hidden;
  display: flex;
  margin-top: 15px;
  background-color: #cecaca;
}
.middle3 img{
  width: 40%;
  height: 400px;
}
.middle3-content{
  height: 400px;overflow: hidden;
}
.middle3-content .section1 h4{
 font-size: 20px;
 text-align: center;
 font-family: GistLight;
}
.middle3-content .section1 p{
  font-size: 13px;
}
.middle3-content .section2,.section3{
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.middle4{
  padding-top: 5px;
  height:550px ;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}
.middle4 img{
  width: 100%;
}

/* footer */
.foot{
  margin-top: 15px;
}
.foot-panel1{
  background-color:black;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
}
.foot-panel2{
  background-color: black;
  color:white;
  display: flex;
  justify-content: space-evenly;
}
ul{
  margin-top: 20px;
}
ul a{
  display: block;
  font-size: 0.85rem;
  margin-top: 10px;
  color: #dddddd;
}
.foot-panel4{
  background-color: black;
  color: white;
  height: 80px;
  font-size: 0.7rem;
  text-align: center;
}
.pages{
padding-top: 25px;
}
.copyright{
  
  padding-top: 5px;
  
}